/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  border: 0;

  font-familly: sans-serif !important;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;

  background: #3F51B5;

  overflow: hidden;
  font-family: sans-serif !important;
}


// Global styles
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.error-message {
  text-align: center;
  padding: 10px;
  color: #F44336;
  font-family: sans-serif;
}

.text-center {
  text-align: center !important;
}

.spinner {
  width: 50px !important;
  margin: auto;
}
