<div class="page">
  <md-list *ngIf="!loading">
    <md-list-item *ngFor="let room of roomsList">
      <h3 md-line>{{ room.name }}</h3>
      <p md-line>{{ room.timestamp | date:'shortTime' }}</p>
      <button md-icon-button>
        <md-icon svgIcon="arrow-forward"></md-icon>
      </button>
    </md-list-item>
  </md-list>

  <md-progress-spinner *ngIf="loading" class="spinner" mode="indeterminate" color="accent"></md-progress-spinner>

  <button md-fab class="add-room-buttom" (click)="showOverlay()">
    <md-icon svgIcon="add"></md-icon>
  </button>

  <div class="overlay" *ngIf="showCreateRoomOverlay">
    <md-card class="create-room-card">
      <md-card-header>
        <md-card-title>Create room</md-card-title>
        <md-card-subtitle>please, enter room name</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-input-container class="width-100">
          <input mdInput [(ngModel)]="roomName" placeholder="Room name">
        </md-input-container>
      </md-card-content>

      <md-card-actions>
        <button md-raised-button color="accent" (click)="createRoom()">OK</button>
        <button md-button (click)="cancelCreateRoom()">CANCEL</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
