.page {
  position: relative;
  height: calc(100% - 112px);
  width: 100%;

  .add-room-buttom {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .create-room-card {
    max-width: 400px;
    margin: auto;
  }
}
