<div class="page main">
  <md-toolbar color="primary">

    <div>
      Welcome {{ user?.name }}
    </div>

    <md-toolbar-row class="toolbar">
      <div class="tabs-container">
        <div class="tabs-item" *ngFor="let tab of tabs" [ngClass]="{'selected': tab.selected}" [routerLink]="tab.link" (click)="selectTab(tab)">
          <span color="accent">{{ tab.name }}</span>
        </div>
      </div>
    </md-toolbar-row>

  </md-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
