<div class="page login">
  <h1 class="title">owlschats</h1>
  <h4 class="sub-title">keep up and meet up with your friends</h4>

  <div class="bottom-login-navi">
    <div class="form-container" [ngSwitch]="formType">

      <div class="anonymous-input" *ngSwitchCase="'NEW_USER_ANONIM'">
        <md-input-container class="width-100">
          <input mdInput type="text" placeholder="Anonymous">
        </md-input-container>
      </div>

      <div class="login-input" *ngSwitchCase="'ALREADY_REGISTERED'">
        <md-input-container class="width-100">
          <input mdInput type="text" placeholder="Login">
        </md-input-container>

        <md-input-container class="width-100">
          <input mdInput type="password" placeholder="Password">
        </md-input-container>
      </div>

      <div class="registrate-input" *ngSwitchCase="'NEW_USER'">
        <md-input-container class="width-100">
          <input mdInput type="text" placeholder="Login">
        </md-input-container>

        <md-input-container class="width-100">
          <input mdInput type="password" placeholder="Password">
        </md-input-container>

        <md-input-container class="width-100">
          <input mdInput type="text" placeholder="Name">
        </md-input-container>
      </div>

      <button class="width-100" md-raised-button routerLink="/main/rooms">{{ buttonString }}</button>

    </div>

    <div class="buttons-container">
      <button md-button class="width-50" (click)="toggleAnotherFormType('login')">Login</button>
      <button md-button class="width-50" (click)="toggleAnotherFormType('signUp')">Sign up</button>
    </div>
  </div>
</div>

